
<%= link_to profile_photos_new_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Photo
<% end %>
<br>
<br />

<div>
  <% @photos.each do |photo| %>
    <%= photo.name %>
    <br>
    <%= image_tag photo.image.url, size: "100x100" %>
    <br>
    <%= photo.description %>
    <br>
  <% end %>
</div>
